* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(79, 1, 1);
  background: linear-gradient(180deg, rgba(79, 1, 1, 1) 0%, rgba(0, 0, 0, 1) 100%) fixed;
}
.hidden {
  opacity: 0;
}
.navbar-nav {
  font-size: 10px;
  /* text-align: center; */
  margin-left: 6px;
}

.navbar {
  margin-top: 0px;
}

.navbar-brand {
  font-weight: 600;
  letter-spacing: 8px;
  font-size: 12px;
  margin-left: 6px;
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0);
  font-size: 14px;
}

.hero {
  color: white;
}
.text-hero h1 {
  font-size: 26px;
  font-weight: 500;
}
.text-hero > p {
  margin-top: 14px;
  font-size: 12px;
}
.col-lg-6 h1 {
  letter-spacing: 1px;
}

.icon {
  margin-top: 20px;
  text-align: start;
}

.img {
  width: 40px;
  cursor: pointer;
}

.icon-container {
  margin-right: 22px;
}
.text-icon {
  letter-spacing: 2px;
  font-size: 10px;
}

.text-hero {
  order: 2;
  margin-top: 40px;
  padding: 0 20px;
}

.mars {
  padding: 20px;
}

.btn {
  background-color: #f8543c;
  color: white;
  border-radius: 20px;
}

.sec2 h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.info-text {
  margin-top: 50px;
}

.info-text p {
  font-size: 12px;
}

.btn {
  margin-top: 5px;
}

.sec1 {
  /* height: 100vh; */
}

.sec2 {
  margin-top: 150px;
  height: 100vh;
}
.animate__animated.animate__pulse {
  --animate-duration: 2s;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2.5s;
}
/* dekstop */

@media (min-width: 992px) {
  .navbar-brand {
    font-size: 16px;
    margin-left: 0px;
  }
  .navbar-nav {
    font-size: 14px;
  }
  .navbar-nav a:not(:last-child) {
    margin-right: 40px;
  }
  .navbar-nav {
    margin-left: 0px;
  }
  .mars {
    position: absolute;
    width: 500px;
    right: 70px;
    top: 80px;
    z-index: -1;
    transform: scaleX(-1);
    padding: 0px;
  }
  .hero {
    margin-top: 130px;
    height: 100vh;
  }

  .text-hero {
    padding: 0;
  }
  .text-hero h1 {
    font-size: 40px;
  }
  .text-hero > p {
    margin-top: 10px;
    font-size: 14px;
  }
  .icon-container {
    margin-right: 5px;
  }
  .play {
    margin-left: -40px;
  }

  .nav-container {
    padding-right: 0;
    padding-left: 0;
  }

  .info-text {
    margin-top: 90px;
  }
}

@media (min-width: 768px) {
  .sec2 {
    margin-top: 300px;
  }
}
